/* Sidebar */
nav {
    background: linear-gradient(rgba(0,0,0,0.4), transparent) ;
}

.navbar-toggler {
    border: none;
}


/* Carousel */
/*.carousel-body {
    margin-top: -56px;
    z-index: -9999;
}*/
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}